# Python
__pycache__/
*.py[cod]
*.pyo
*.pyc
*.pyd
*.env
*.venv
env/
venv/
ENV/
build/
dist/
*.egg-info/
*.egg
*.log

# macOS
.DS_Store

# IDEs
.vscode/
.idea/
*.swp
*.sublime-workspace
*.sublime-project

prompts/